.link__message {
   display: block;
   width: 32px;
   height: 32px;
   cursor: pointer;
   background-position: center;
   background-size: cover;
   filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(95%) contrast(90%);
   &:hover {
      opacity: 0.7;
   }
}

.header__link_git {
   background-image: url(../assets/svg/github.svg);
}

.header__link_codewars {
   background-image: url(../assets/svg/codewars.svg);
}

.header__link_telegram {
   background-image: url(../assets/svg/telegram.svg);
}

.header__link_mail {
   background-image: url(../assets/svg/email.svg);
}