@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

body {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-size: 16px;
  background-image: url(../assets/img/bg-body.png);
  background-repeat: repeat;
  color: #3D3D3D;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  border-bottom: 3px dotted #3D3D3D;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 25px;
  }
  .subtittle {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
    text-align: center;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 650px;
  width: 100%;
  gap: 30px;
  margin-bottom: 40px;
}

.header__photo {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  border: 5px solid #3D3D3D;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 630px;
  width: 100%;
}

.header__title {
  font-size: 46px;
  font-weight: 500;
  line-height: 10px;
}

.header__subtitle {
  font-size: 20px;
  line-height: 10px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media (max-width: 1024px) {
  .header__title {
    font-size: 40px;
  }
  .header__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__title {
    font-size: 36px;
  }
  .header__subtitle {
    font-size: 16px;
  }
}

.link__message {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  -webkit-filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(95%) contrast(90%);
          filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(95%) contrast(90%);
}

.link__message:hover {
  opacity: 0.7;
}

.header__link_git {
  background-image: url(../assets/svg/github.svg);
}

.header__link_codewars {
  background-image: url(../assets/svg/codewars.svg);
}

.header__link_telegram {
  background-image: url(../assets/svg/telegram.svg);
}

.header__link_mail {
  background-image: url(../assets/svg/email.svg);
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__content {
  width: 45%;
  min-width: 400px;
  margin: 0 20px;
}

.main__portfolio {
  text-align: center;
  width: 50%;
  margin: 20px auto;
}

@media (max-width: 900px) {
  .main__content {
    width: 40%;
    min-width: 300px;
  }
}

.main__portfiolio_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.portfolio__link {
  display: block;
  width: 30%;
  min-width: 300px;
  min-height: 200px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.portfolio__link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 12px 0px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 12px 0px 5px -5px rgba(34, 60, 80, 0.6);
}

.portfolio__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.494);
  position: absolute;
  bottom: -30px;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio__link:hover::before {
  bottom: 0;
  text-align: center;
  color: white;
}

.portfolio__movie {
  background-image: url(../../assets/img/movie.jpg);
}

.portfolio__movie:hover::before {
  content: "Movie App";
}

.portfolio__audio {
  background-image: url(../../assets/img/audio.jpg);
}

.portfolio__audio:hover::before {
  content: "Audio player";
}

.portfolio__portfolio {
  background-image: url(../../assets/img/portfolio.jpg);
}

.portfolio__portfolio:hover::before {
  content: "Portfolio page";
}

.portfolio__shelter {
  background-image: url(../../assets/img/Shelter.jpg);
}

.portfolio__shelter:hover::before {
  content: "Shelter page";
}

.portfolio__keyboard {
  background-image: url(../../assets/img/keyboard.jpg);
}

.portfolio__keyboard:hover::before {
  content: "Keyboard app";
}

.portfolio__slider {
  background-image: url(../../assets/img/slider.jpg);
}

.portfolio__slider:hover::before {
  content: "Vertical slider";
}

.portfolio__tictactoe {
  background-image: url(../../assets/img/tictactoe.jpg);
}

.portfolio__tictactoe:hover::before {
  content: "Tic Tac Toe";
}

.portfolio__video {
  background-image: url(../../assets/img/video.jpg);
}

.portfolio__video:hover::before {
  content: "Video player";
}

.portfolio__css {
  background-image: url(../../assets/img/cssmem.jpg);
}

.portfolio__css:hover::before {
  content: "CSS slider";
}

.footer {
  margin: 50px 0;
}

.footer p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */